/*
* @Author: Marte
* @Date:   2016-11-04 11:32:44
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-04 17:51:59
*/
/*
* @Author: Marte
* @Date:   2016-11-03 19:26:19
* @Last Modified by:   Marte
* @Last Modified time: 2016-11-03 21:29:25
*/
.hide{
    display:none;
}
$red:#e31939;
*{
    margin: 0;
    padding: 0;
}
#mid_right .teltitle{
    display:none;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
$width:990px;
$topY:95px;
$midY:430px;
#footer{
    height:auto;
}
.footflo{
    padding:10px 335px;
    height:75px;
}
#wrap_top,#wrap_mid{
    width:100%;
    height:auto;
    min-width:$width;
}
#top,#mid{
    width:$width;
    margin:0 auto;
}
#top{
    height:$topY;
    padding:12px 0;
}
#top .logobox{
    display:block;
    width:auto;
    height:auto;
    float:left;
    margin:0 35px;
}
#top .logobg{
    width:270px;
    height:60px;
    background:url("../img/logo1.jpg");
    background-position:0 -2px;
    background-repeat:no-repeat;
}
#top .welcome{
    display:block;
    float:left;
    height:40px;
    margin:10px 0;
    border-left:1px solid #dddddd;
    font-size:26px;
    line-height:40px;
    padding:0 15px;
    font-weight:bold;
}
#top div{
    float:right;
    width:120px;
    height:60px;
}
#top div span{
    display:inline-block;
    width:24px;
    height:23px;
    margin:37px 18px 0 18px;
    float:left;
}
#top div a{
    display:inline-block;
    width:56px;
    height:60px;
    position:relative;
}
.weixin{
    background:url("../img/login.png");
    background-position:-123px -8px;
}
#top div a .wxbox{
    position:absolute;
    width:80px;
    height:80px;
    left:-10px;
    bottom:-80px;
}
.weibo{
    background:url("../img/login.png");
    background-position:-64px -8px;
}
#mid{
    height:$midY;
    margin-top:30px;
    position:relative;
}
#mid .mid_left{
    width:605px;
    height:500px;
    float:left;
    position:absolute;
    left:-605px;
}
#mid .mid_right{
    padding:40px;
    width:300px;
    height:370px;
    right:-382px;
    border:1px solid #ccc;
    padding:20px 40px;
    position:absolute;
}
#mid .mid_right .right_top{
    position:absolute;
    width:auto;
    height:30px;
    line-height:30px;
    right:-1px;
    top:-30px;
    font-size:12px;
}
#mid .mid_right .right_top a{
    color:$red;
}
#mid .mid_right .right_top a:hover{
    text-decoration:underline;
}
#mid .mid_right .right_topul{
    position:absolute;
    width:270px;
    height:30px;
    line-height:30px;
    left:-1px;
    top:-30px;
    font-size:12px;

}
#mid .mid_right .right_topul li{
    width:131px;
    height:28px;
    line-height:30px;
    text-align:center;
    margin-right:2px;
    background:white;
    float:left;
    font-size:12px;
}
#mid .mid_right .right_topul .topli{
    border:1px solid #ccc;
    height:29px;
    border-bottom:0;
}
.topli a{
    color:$red;
}
.mid_right input{
    width:295px;
    height:35px;
    border:0;
    border:1px solid #ccc;
}
.mid_right span{
    display:inline-block;
    height:32px;
    line-height:32px;
    font-size:12px;
}
.teltitle{
    color:#900;
    display:none;
}
.passtitle{
    color:#900;
    display:none;
}
.Strength{
    width:100px;
    text-align:center;
    color:#999;
}
.mid_right .telyz{

    width:125px;
}
.mid_right .telyzb{
    margin-left:10px;
    text-align:center;
    background:#e4393c;
    color:white;
    border:0;
    height:37px;
}
.mid_right .logincheck {
  width: auto;
  height: auto;
  margin-top: 20px;
  float: left; }

.mid_right .jizhu {
  margin-top: 20px;
  height:12px;
  line-height:12px;
  }
.mid_right .jizhu a{
    color:blue;
}
.mid_right .regnow{
    margin-top:32px;
    background:#e4393c;
    color:white;
    text-align:center;
}